<div class="bg-light m-auto w-50 rounded p-3 mt-3 mb-3">
    <h2 class="fw-bold fs-2 text-success text-center">Bienvenido {{loginName}}!!</h2><span><a href="/bye"><button
                onclick=sayGoodbye("{{loginName}}")>Logout</button></a></span>
</div>