<div class="bg-light m-auto w-50 rounded p-3 mb-3">
    <h2 class="text-danger text-center fw-bold">Lista de productos</h2>
</div>

<table class="table w-50 m-auto bg-dark text-light rounded mb-3 fs-4">
    <thead>
        <tr>
        <th class="w-25" scope="col">Nombre</th>
        <th class="w-25" scope="col">Precio</th>
        <th class="w-25" scope="col">Foto</th>
        </tr>
    </thead>
    <tbody id="items">
    </tbody>
</table>